@charset "utf-8";
/* CSS Document */

#map {
	border:5px solid black;
	margin:10px;
}

body {
	background-image:url(images/art-gallery.jpg);
}

a {
	background-color:#8E7B7B;
	  
	  color:#196578;
    font-size: 20px;
	border-left-color:#2FB2D3;
}

